[2015-07-16 21:16] midoblgsm opened #1 "News"
Hi, are there any new developments to extend the existing code?

Thanks!

[2015-08-25 13:55] tutunci opened #2 "Run every hour at defined minute"
Hi,
looking at code and examples there is a way to do a task every day at fixed time gocron.Every(1).Day().At("10:30").Do(task)
but if I must do a task every hour at fixed minute how can do?

Thanks
Maurizio

[2015-08-27 21:04] igor-uzhviev opened #3 "Bad performance and huge CPU consumption"
Unfortunately due to constant infinite loop (in Start() function) which constantly check jobs without any delay CPU consumption of my go app is always 100%. It is the same on my Windows laptop and on a Windows server.

That is very sad because I have to run one job every hour, another job - once a day (at a certain time). All other time my application should do nothing, but it consumes 100% CPU. T

[2015-10-10 22:48] gabstv commented on #3
I second this. My servers are hitting 100% cpu usage all the time since I started using gocron. I had no idea until now that I ran the profiler.
![pprof](http://i.imgur.com/A3CUmNL.png)
I ran the profiler in a time where the usage should be pretty low.

[2015-10-16 22:16] marksalpeter opened #4 "gocron.Every(5).Minute().Do(func () {}) panics with no clear error"
gocron.Every(5).Minute().Do(func () {})
panics with no error message, its literally an empty string. this should be equivalent to
gocron.Every(5).Minutes().Do(func () {})

[2015-10-18 20:09] marksalpeter commented on #1
Yea, @jasonlvhit just graciously added me to the repo. I'll be taking over the maintenance of the code base. Stay tuned.

[2015-10-18 20:09] #1 closed

[2015-10-18 23:56] marksalpeter commented on #3
Thanks for the heads up @gabstv. I merged https://github.com/Claudiu/gocron into this version of the repo to add his fix. @igor-uzhviev I agree that ultimately it might be better to reimplement this with multiple tickers instead of one.

[2015-10-18 23:56] #3 closed

[2015-10-18 23:59] marksalpeter commented on #2
You would do something like this
[code]
I hope that answered your question!

[2015-10-18 23:59] #2 closed

[2015-10-30 08:35] HorstMumpitz commented on #4
I ran into the same issue. A little hint would be pretty helpful.

I would fix the messages if we could agree on an useful text like:

"Use Minutes() if you want to schedule intervals > 1min "

The same issue applies to Hour() and Second().

[2015-11-03 13:57] Claudiu opened #5 "Some commits need to be reverted."
Hi!

Thank you for merging my fork! Please keep in mind that I changed the name of some includes, due to the fact that I saw my code as something exotic.

Here are the commits that need to be reverted:
https://github.com/jasonlvhit/gocron/commit/d2c27bcb60b407af11f2dfb69e7b130972c8840a

Also in the README file: Search and replace claudiu to jasonlvhit

Thank you again! :+1:

[2015-11-03 15:30] Claudiu commented on #4
:+1: to gocron.Every(5).Minute().Do(func () {}) being an alias of gocron.Every(5).Minutes().Do(func () {}).

[2015-11-04 09:27] HorstMumpitz commented on #4
If aliasing is an option I would additionally print a message that the function is misused.

[2015-11-17 19:49] camronlevanger opened #7 "100% CPU Usage"
Gocron is using 100% of one core, 100% of the time.

You don't even have to schedule anything, just calling gocron.Start() will do it.

Any thoughts?

[2015-12-04 12:52] Claudiu commented on #7
This is related to: https://github.com/jasonlvhit/gocron/issues/3

The fix was merged with my repo but the usage is a bit different.

As it now requires
[code]

[2015-12-05 20:54] marksalpeter commented on #7
Yes, we merged in @Claudiu improvements. That should fix your problem.
[code]
should fix the issue.

[2015-12-05 20:57] marksalpeter commented on #5
Ah, i didn't catch that. I'll have time to revert those changes soon. Until then I don't think it's breaking anything essential.

[2015-12-05 21:00] marksalpeter commented on #4
@HorstMumpitz I don't think it is being misused. If you look at the standard libraries `time` package every duration is defined in the singular. For example, Its common for example to do something like
[code]
It might make sense to remove the plurals. Any thoughts?

[2015-12-05 21:02] #7 closed

[2015-12-06 10:16] Claudiu commented on #5
Fixed with https://github.com/jasonlvhit/gocron/commit/980c96bf412b6e28177bcf6b7105640cf04137d6

[2015-12-21 17:03] #5 closed

[2015-12-21 17:05] marksalpeter opened #10 "Weekday is a day ahead in the future case"

[2015-12-21 17:10] marksalpeter opened #11 "Write Tests"
## Job
- [ ] `Job.Every(...).Day.At(...)`
- [ ] `Job.Every(...).Weekday(...).At(...)`
- [ ] `Job.Hour()`
- [ ] `Job.Minute()`
- [ ] `Job.Second()`

## Scheduler
- [ ] `Scheduler.runPending(...)`
- [ ] `Scheduler.Start(...)`
- [ ] `Scheduler.IsRunning(...)`
- [ ] `Scheduler.Stop(...)`
- [ ] `Scheduler.Remove(...)`
- [ ] `Scheduler.Clear(...)`
- [ ] `Scheduler.Location(...)`
- [ ] `Scheduler.NextRun

[2015-12-21 17:19] marksalpeter opened #12 "Weekday is 2 days ahead in past case"

[2016-01-02 17:14] joeblew99 opened #13 "Run something at midnight each day ?"
Can see how to do that.,

[2016-01-03 20:31] joeblew99 commented on #13
Found it

[2016-01-03 20:31] #13 closed

[2016-01-03 20:40] joeblew99 opened #14 "Roadmap"
This is working fine for me.

I was wondering , since its a newish project if you are thinking about a roadmap or suggestions :

1. Retry
2. Audit trail / logging
- this could be related to just logging and log shipping, and so is normally something a user of the package would do though, but just logging using the stand log package would mean that logrus etc would automatically work with it.
3. Co

[2016-01-05 23:56] marksalpeter commented on #14
Hi @joeblew99! I have some questions about your suggestions

1. Retry: What do you mean by retry? How do you propose it should be implemented. Can you write up a use case for it?
2. Logging: What do you want to see logged by the scheduler? Why not just log things in the funcs you pass to do? Again, a use case would be super helpful.
3. I'm not familiar with cobar or viper. Go is a compiled languag

[2016-02-25 07:44] maddie opened #16 "Scheduled job gets delayed by the running time of the job in a long running (daemon like) program"
I have written a little tool to backup my database every day at 0:00 and 13:00, thus:

[code]

The backup action itself takes around 10~12 seconds. I have set up a logger inside the program, and these are the log output:

[code]

As you can see, after each scheduled job being executed, the next job will be delayed by 10~12 seconds which is the execution time of the backup routine.

Is this by desi

[2016-03-11 18:25] danhardman opened #17 "Do I have to use <- gocron.Start()"
I was just looking at the examples on the readme and I just wanted to clarify the purpose of `<- gocron.Start()`

If I have:
[code]
Will that work as is? Or do I need to run `<- gocron.Start()` to initiate it?

[2016-03-11 18:30] danhardman opened #18 "Run task just once"
Is there a idiomatic way of scheduling a task to run just once? That is to say, create a schedule that is ran once and then cleared?

The only way I can think of is:

[code]

Which I haven't actually tested yet but I figured this would be a solution to my problem.

[2016-03-12 15:10] danhardman commented on #17
Answer is yes.

[code]
Creates the routine

[code]
Executes the routines.

[2016-03-12 15:10] #17 closed

[2016-03-15 18:59] danhardman commented on #7
Has there been any additional progress on this? I'm still getting 100% CPU usage when using this library unfortunately.

[2016-03-15 19:00] marksalpeter commented on #7
have you pulled the latest version? you could also try the v1 branch.

[2016-03-15 19:02] danhardman commented on #7
I believe so. I'll give it a go again to make sure. How do I get the v1 branch?

[2016-03-15 19:07] marksalpeter commented on #7
[code]

[2016-03-15 19:12] danhardman commented on #7
It was the latest version that I was getting the issue with. Just trying v1 now. Having to change some code around for it

[2016-03-15 19:19] danhardman commented on #7
I'm getting error: `sch.Start() used as value` wherever I use `<-sch.Start()`

[code]

[2016-03-15 21:20] marksalpeter commented on #7
in the v1.0 branch start doesn't block or return anything. I haven't had a chance to update the docs though. From scheduler.go:

[code]

[2016-03-17 00:00] danhardman commented on #7
Just found out it was likely not gocron causing the 100% CPU usage. I jumped to conclusions as I remembered seeing this issue! My bad. All is good

[2016-04-25 10:48] LeeU1911 opened #19 "Cron job exited after undefined amount of time"
Hey there,

Thanks for your great work!

I'd like to ask whether anyone runs into the same problem. I built a cron job that checks my gmail inbox every 10 seconds using Gmail API.
The code runs fine but it quits running after a while.

By monitoring, I can see sometimes it quits after 3 hours, 8 hours or sometimes just around 15 20 minutes. I monitored the memory of the process but it looks like t

[2016-04-29 13:54] xEtarusx commented on #16
I have the same problems with my projects. All delay by some time. It's not exactly the time the tasks take to execute.
If I execute tasks every 10 seconds (which takes 1 second of processing time) they get delayed by 1 second most of the time. This is an incredible impact if I run tasks on another projects once a day. They take up to 2 hours to process and the delayed amount is always more than 3

[2016-06-14 06:15] jonlaing commented on #16
I was looking at this project after searching "Golang cron", and liked the idea, but wanted to build it differently without reflection, so I rolled my own. I think the issue is that all the jobs are being run on the same thread, thus if a job of yours takes more than a second, all of your jobs will be delayed by that much.

Looking at the code, it'll take some tinkering to make it work properly, a

[2016-06-28 23:46] gracedo opened #20 "Scheduling same function to run at same time fails"
Scheduling the same function to run at the same time hasn't been working for me. It works fine if I schedule two different functions at the same time, but it fails with the same function (looks like it's only running the latest declared statement instead of both?).

e.g.
[code]
^ I see only one instance of `someFunc` running with param `2` -- the latest declared is run.

Any ideas what may be goin

[2016-06-29 00:49] gracedo commented on #20
Just saw that @kilhage fixes this in https://github.com/jasonlvhit/gocron/pull/15 -- closing the issue

[2016-06-29 00:49] #20 closed

[2016-06-30 12:45] puzanov commented on #18
Seems that this tool is only for periodical tasks

[2016-07-01 14:15] danhardman commented on #18
Seems like it from the responses... I ended up not using this tool for it and found a really good way to schedule a task to run once at a specific time.

[2016-07-01 14:15] #18 closed

[2016-07-12 15:35] marksalpeter commented on #18
Thanks for the feedback @danhardman. I think we should add an easy way to schedule a task to run one time in the future. @puzanov is correct for now, gocron is just for recurring tasks.

[2016-07-14 06:38] c0ze opened #21 "Schedule a job for the beginning of the minute"
Is it possible to schedule something for the beginning of the minute ? Specify every time it triggers at `00` ?

[2016-08-07 17:51] seenickcode opened #22 "Setting Timezone?"
Is this possible?  For example, set to run a task at 12:00 UTC?

[2016-08-11 19:07] marksalpeter commented on #22
It should be

[2016-08-19 20:54] lgessler opened #23 "Day of the Week not working?"
I have written a simple program that writes hello at a certain time on both Monday and Friday:

[code]

The output today (Friday) at 15:54 on my OS X machine was this:

[code]

Also, it is not relevant that the two times were the same. This

[code]

produced this by 16:14:

[code]

Any ideas?

[2016-08-29 10:50] postromantic commented on #23
Got similar issue today with a code
`gocron.Every(1).Friday().At("12:00").Do(func() { fmt.Println("ok") })`
Today is Monday, but it's triggered
(go 1.6 x64 Windows)

[2016-09-09 01:31] MayaLi commented on #21
+1 on this request. I'd like to say schedule a job running at the 0 minute of the hour instead of one hour from the time the cron job start is called

[2016-09-10 15:30] seenickcode commented on #23
I set mine to every Sunday at 12:00pm and it appears to be sending every Monday at 11:00am.

go 1.4 Ubuntu

[2016-09-21 09:21] c0ze commented on #22
How ? (for ex, Tokyo ? GMT + 9:00)

[2016-09-23 02:04] c0ze commented on #22
Ok, it seems there is a ChangeLoc interface available which you can pass your location.

Thanks !

https://github.com/jasonlvhit/gocron/blob/42a5804d37aa0b9239b265e894a16b8edbf52d54/gocron.go#L33

[2016-10-24 01:01] philmcp commented on #23
Same problem here!

[2016-10-31 14:21] chacken opened #25 "Jobs with unique ID's"
I made some changes that allow you to schedule jobs with unique ID's.  I suppose it depends on your use-case whether or not you'd want to use this.  If you're interested, I can make a pull-request.

Example:

[code]

[2016-11-08 16:13] tonyalaribe opened #26 "Panics in library code"
I took a look at the code, and panics were used in multiple occasions. In some cases with no error messages even.  What do you think about the error handling? It seems dangerous having a panic from within a library stop an app.

[2016-11-08 16:19] itsaibk commented on #2
is it possible to achieve -> `Every(1).Hour()` at **00 min** and **00 sec**?
`---`
thanks!

[2016-11-08 16:26] aimazh opened #27 "[question] Scheduling for Month"
Do we have an opportunity to see in the future something like `Every(1).Month().At("00:00")`? Or is there another way to achieve it?
`---`
best regards!
aibk

[2016-11-10 12:40] dabba39 commented on #27
or a birthday greeter, like Every(1).Year().At("November 7 08:00") ?

[2016-11-21 10:40] VarunBatraIT commented on #23
Got a similar issue:
gocron.Every(1).Monday().Friday().At("12:00").Do(func() { fmt.Println("ok") })

It doesn't work on Monday but works on Friday.

[2016-11-21 10:45] VarunBatraIT commented on #22
[code]

Works and tested!

[2016-11-21 10:47] VarunBatraIT opened #28 "Chainable Events?"
[code]

This doesn't work. Only last one stays. I was wondering if we can make it chainable like above?

[2016-12-13 12:14] NeutronStein commented on #17
`gocron.Start()`  starts the default scheduler and returns actually a channel `chan bool` which can be used to stop the scheduler. That channel is intended to only receive(it never returns, in this case) an input which will cause scheduler's stop. Reading from it blocks forever.

[2016-12-13 12:17] NeutronStein commented on #28
I am facing the same issue. I had to duplicate the line for each hour of the day. I think `At` override previous calls. Hope it will be possible soon.

[2017-01-06 15:30] earoc commented on #21
+1 on this request. Now it's some kind of wired that when expecting the job to be start at `00` while it would be triggered at the `second` where the job ended at the latest time.

[2017-01-09 23:14] varun06 opened #30 "[Question] Run the job first time and then schedule based on scheduler?"
I want to schedule some minute and hourly jobs. But I want to run them immediately whenever my app start and then after first run, run on the schedule, is it possible?

[2017-02-08 06:32] rudimk opened #34 "Setting timezones for individual jobs"
Is that possible? I'm looking at a scenario where a function may run as a scheduled task at midnight in different timezones, supplied with different parameters.

[2017-02-08 07:18] rudimk commented on #34
I think I might have figured it out - I can set up concurrent schedulers, and just change their timezone - the way it's done in #22. Do you think that makes sense?

[2017-02-21 13:11] Vigneshr6 commented on #30
+1

[2017-02-27 15:49] alexanderbez commented on #19
It may have to do with the following: https://github.com/jasonlvhit/gocron/blob/master/gocron.go#L38

[2017-02-27 15:51] alexanderbez commented on #19
@jasonlvhit if you have a slice of a predefined size and simply don't want to `append`, when an overflow happens perhaps you can just flush and wrap back to the beginning?

[2017-03-01 07:58] LeeU1911 commented on #19
Thanks @alexanderbez but I don't get it yet. Isn't that constant the number of jobs? I only have one job.

[2017-03-01 15:13] alexanderbez commented on #19
Ahhh good catch @LeeU1911, I'll keep poking around. It could something on the system level killing it like `oom`.

[2017-03-03 13:24] mre commented on #14
A retry functionality would be highly appreciated.
In my case I have an API which I want to query every five minutes.
Sometimes the query fails. In this case I would like to retry the query automatically.
Integrating this into gocron would greatly reduce the complexity of error handling since I don't need to implement the retry handling for every task myself.

Here's how it could look like:

[code

[2017-03-03 20:40] icholy commented on #23
This package totally broken ...

[2017-03-20 09:55] Vigneshr6 opened #35 "Could not remove jobs properly"
I have the below code
[code]

I want to remove jobs with their names.but It deletes first two entries.
How to solve this?

[2017-03-22 07:18] davis12529 commented on #30
This is what I did

[code]
Wrapping the schedule logic in go routine is optional

[2017-04-01 08:23] davis12529 opened #36 "At() seems to be not working"
`gocron.Every(1).Day().At("9:00").Do(task)`

The task gets run every day at time of scheduling execution instead of every day at specified timing

[2017-05-04 18:48] niranjan92 opened #37 "gocron crashes while scheduling large number of events"
to reproduce add following to main in example.go
[code]
This fails with error:

[code]

I have tried slowing the for loop by adding `time.Sleep(1*time.Second)`, still it fails.

PS: Is this package under active development?

[2017-05-04 20:04] niranjan92 commented on #37
Had to edit `MAXJOBNUM` from 10,000 to something greater to fix this.

[2017-05-04 20:04] #37 closed

[2017-05-18 21:55] denismakogon opened #38 "[Feature Freeze] Support job updating"

[2017-05-26 08:34] reorx opened #39 "Could not run job at specific time when daylight saving time switches"
Code:

`gocron_test.go`

[code]

The time zone is set to **America/New_York**, and the date time is set to **2017-03-12 01:58:50** by `sudo timedatectl set-time "2017-03-12 01:58:50" && sudo hwclock -w`

Output:

[code]

The output shows that `gocron.Every(1).Day().At("01:59").Do(pri1)` runs properly, but `gocron.Every(1).Day().At("03:01").Do(pri2)` doesn't take any effect.

P.S. after **2017-03-1

[2017-06-01 11:11] shukla2112 commented on #36
@davis12529 Is this resolved? I don't see any PR, How did you solve?

[2017-06-05 02:55] davis12529 commented on #36
@shukla2112 are you facing this issue as well? Unfortunately I am currently tight in deadlines and could not take a closer look at it. I had to switch to another library.

[2017-07-30 18:42] mkozjak commented on #36
@davis12529 Which one? Did you find it good for you?

[2017-07-31 05:59] davis12529 commented on #36
@mkozjak https://github.com/carlescere/scheduler, works well for me.

The only downside is that you cannot pass arguments to the job within the schedule function. One of the workaround is to create an anonymous function with no parameters and call the intended function pass the parameters directly

e.g.

`task := func() {
			foo("param1", "param2")
}`

[2017-07-31 07:25] mkozjak commented on #36
@davis12529: Yeah, been looking into that one, too. That was the downside for me to, too. I decided to just use the cron lib.

[2017-08-12 15:56] fredleger commented on #4
one thing here is that if you want to pass the number of minutes as an arg of your program you have to do something like :

[code]

Which is not very usefull.

as i like to keep my code as readable as possible, i would vote also at least for a clear warning about that missuse or an alias that make it work the nice way :-)

[2017-08-12 16:02] fredleger opened #41 "Support for standard Cron like definitions"
Is there any way to use the "standard" cron expressions with this package ?

something like:
[code]

The use case is to have the user define it's own logic from a config file.

[2017-08-16 08:12] Depado commented on #41
I don't think there is as this library mainly intends to redefine the way we work with cron-like jobs with a human-friendly syntax. There are several packages that could help you with that I think.
That would be an interesting thing to code though (parsing cron syntax and return a gocron scheduler)

[2017-08-16 09:10] fredleger commented on #41
Ok, good to me. Can you put some links to the mentioned package that can do that ?

[2017-08-16 11:09] Depado commented on #41
A simple search yields this result: https://github.com/gorhill/cronexpr
I'm not sure it's still maintained though

[2017-09-04 14:41] MovieStoreGuy commented on #4
Why not just deprecate the singular and just use the plural?
[code]
Is still readable.

[2017-09-05 21:23] alexbao commented on #39
I had similar issue too. Guess in `func (j *Job) At(t string) *Job`, the `now` timestamp has to use the `loc` timezone. Something like `time.Now().In(loc)`

[2017-09-19 06:23] kaiiak commented on #36
@davis12529 @mkozjak
I think you should write this way.

[code]

[2017-10-30 11:16] agilob opened #44 "Does not respect summer/winter time changes"
I have a go app running with `gocron` which starts tasks every day at 13:00, today the task was started at 12:00. there was end of BST yesterday and we changed our clocks by one hour. The task should be started using new time settings on server.

[2017-12-26 19:11] #36 closed

[2018-01-08 15:50] Sef1995 commented on #18
Is this already implemented?

[2018-01-16 08:10] whyamiroot commented on #18
Would really like to see this feature too

[2018-01-16 12:57] danhardman commented on #18
@whyamiroot I implemented this just using the standard library I believe, I'll dig the code out later on if you like?

[2018-01-16 15:08] whyamiroot commented on #18
@danhardman Yes, please, it would be great

[2018-01-25 02:44] nilyang opened #47 "Could not run specific intervals"
When I try the schedule for 1 second interval task, but the interval shows bellow wasn't stable!
[code]

The code is :
[code]

[2018-02-05 01:14] markvincentcaro opened #49 "Cannot Run Job on Sunday 8:00 AM Only"
When I schedule a Job on Sunday 8:00 AM UTC, it fails to execute:

[code]
However, if I schedule the Job on a different day, it executes:

[code]

Is there something I am doing wrong when scheduling my Job on Sunday?

[2018-02-09 05:48] huyntsgs opened #50 "Can gocron work with gin"
I want to use gocron with gin router. But it seems that gin router and gocron block each other.
If i start goncron before router.Run, the genData will be done, but can not get response from /ex/getdata. If i start router.Run before gocron.Start(), I can get response from /ex/getdata but job is not executed.

func main() {
	data := &Data{}
	router := gin.Default()
	router.GET("/ex/getdata", getData

[2018-02-09 14:29] cuotos opened #51 "Singular periods doesn't give meaningful error (Second(), Minute())"
These can only be used with an interval of 1. If not, a panic is thrown, but with no error message.

[2018-02-12 02:50] whyamiroot commented on #23
Is the issue resolved now?

[2018-02-12 02:51] whyamiroot commented on #23
Is the issue resolved now?
I had a task to run at sunday and couple of tasks ro tun at monday, but all of them were triggered at sunday

[2018-02-12 05:11] jkc commented on #23
@whyamiroot - I believe my commit would fix the issue, but it hasn’t been reviewed or merged, so it isn’t resolved in master. You could try my fork to see if it fixes the issue for you, until this (and the other prs that are open for other issues) gets reviewed...

[2018-02-17 08:25] WingGao commented on #49
same as `Days()`

[2018-02-23 13:28] icobani commented on #50
I have same problem.

[2018-02-28 13:35] AvoncourtPartners opened #52 "Job at Day bug"
Let's say today is Wed and current time is 15:00.
If I'm adding task for Monday:
gocron.Every(1).Monday().At("13:00")
it works correctly. But if i will add task for later time then now:
gocron.Every(1).Monday().At("16:00"), then it will be executed today(Wed) at 16:00.

The bug is in your func At (155 line)
In line 171 you don't mind about day, only time, and in case if I put time after now, it wi

[2018-03-06 09:54] Noy opened #53 "Jobs start at different time"
Hey, I'll try and explain this as best as possible.

Say I set a task at 09:30

`scheduler := gocron.NewScheduler()`
` scheduler.Every(1).Day().At("09:30").Do(someTask)`

Say my task takes 10 minutes to complete at 09:30 and ends at 09:40, the next day, the task starts at 9:40, and repeats this, so eventually this task will be running at a completely different time if left forever.

Not sure if yo

[2018-03-09 13:37] Oded commented on #53
+1

[2018-03-16 03:23] huyntsgs commented on #50
I back with github.com/robfig/cron and all work fine

[2018-03-16 14:58] gljubojevic commented on #53
Hi, I have created fork https://github.com/gljubojevic/gocron because of that issue and submitted pull req

[2018-03-17 20:03] Noy commented on #53
Look good, should fix the issue. Will test this on monday

[2018-03-19 09:10] Noy commented on #53
Update: Code works, fixes issue.

[2018-03-25 17:27] agilob commented on #44
Lol, I hit this issue again

[2018-04-02 17:36] jkc commented on #23
Not sure how many people are still following this long open issue, but the PR to fix it has been merged. It could be closed, assuming people can verify the fix for their own versions of the issue. Works for me now, anyway :)

[2018-04-07 02:50] marcsantiago opened #55 "The package is full of race conditions + panics"
If you run your test with the race flag on `go test ./... -race -v` go will flag the package with having race conditions.

Also, panics are dangerous in production. I've forked and created a production safe version

https://github.com/marcsantiago/gocron

[2018-05-29 00:52] dgrr opened #56 "`struct select{}` for cancelation"
Why you are using boolean channel for cancellation when you can use empty struct?
https://github.com/jasonlvhit/gocron/blob/master/gocron.go#L482

I propose it because:
- As is said in [this](https://blog.golang.org/pipelines) article:
[code]
- And the empty struct does not consume memory ([read this](https://dave.cheney.net/2014/03/25/the-empty-struct)).
[code]

[2018-07-11 03:06] dtelyukh commented on #53
+1

[2018-11-25 11:13] unisqu opened #59 "I don't understand the interval part of s.Every(1).Second()"
I don't understand what's the "1" inside Every(). What does it mean? Interval of what?
s.Every(1).Second().

1. Will it memory leak?
2. When will it end? (i would like infinite loop til forever)
3. Is this below correct for maintenanceFunc to be ran exactly every day at 3:30am?
               //s.Every(1).Day().At("3:30").Do(maintenanceFunc)
4. when I put as Second, it only display in intervals of

[2018-11-30 15:17] mclarkson-sky commented on #55
Hi! were these race condition and panic changes merged into this repo?

[2018-11-30 18:15] marcsantiago commented on #55
I maintain a separate fork that I use in production, but I do not believe I
ever opened up a PR against the origin

On Fri, Nov 30, 2018, 10:17 AM mclarkson-sky <notifications@github.com>
wrote:

[2018-12-01 11:09] Azuka commented on #55
@marcsantiago, do you mind opening a PR against this repo, if @jasonlvhit approves, of course?

[2018-12-01 15:53] marcsantiago commented on #55
Sure, I can do that

On Sat, Dec 1, 2018, 6:09 AM Azuka Okuleye <notifications@github.com> wrote:

[2018-12-03 20:38] marcsantiago commented on #55
I've gone ahead and opened request at your request

Marc Anthony Santiago
Susquehanna University Class of 2013
Biology and Philosophy double major
Research Honors
Beta Beta Beta Biological Honors Society
Personal Website: http://www.marcsantiago.com/
StackOverFlow: http://stackoverflow.com/users/4639336/msanti
GitHub: https://github.com/marcsantiago

On Sat, Dec 1, 2018 at 10:53 AM Marc Santiago <

[2019-01-17 17:10] fgblomqvist opened #62 "Is this package still maintained?"
Seems like there are a lot of issues and PRs that don't get tended to. Maybe put a notice in the README at least in case it's looking for more maintainers and/or should be considered stale?

(Worth adding: it still seems like the "best" cron/scheduler library for Go so I think it'd be worth it to keep maintaining it by allowing new maintainers onboard)

[2019-01-18 09:36] thelaczar commented on #50
This one gives a nice answer im using right now.   https://stackoverflow.com/questions/52719015/using-gin-gonic-and-some-scheduler-in-golang

[2019-01-18 20:41] fgblomqvist commented on #62
Gonna tag @marksalpeter here since he seems to be the last maintainer/committer

[2019-01-21 13:48] marksalpeter commented on #62
Good idea @fgblomqvist. Thanks for reaching out.

[2019-01-21 13:48] #62 closed

[2019-01-21 14:17] marksalpeter commented on #62
I also put the version we use in production at dealyze here if you want to take a look.
https://github.com/marksalpeter/gocron

[2019-01-22 07:44] marksalpeter commented on #50
this should work
[code]

[2019-01-23 19:42] arnested commented on #44
Duplicate of #39.

[2019-01-24 11:03] kbrezina opened #64 "Removing a job that is not registered causes a removal of the last registered job"
see https://github.com/jasonlvhit/gocron/blob/6771d4b492ba2d5f57919c04b4cddb3735365120/gocron.go#L468

[2019-01-24 11:14] kbrezina commented on #64
A safer implementation could be following:
[code]

[2019-02-03 18:39] carmel opened #66 "Could it runs just one time ?"
as the title, just like  job.at("00:00").thanks first

[2019-02-06 22:10] Vitucho opened #67 "s/intervel/interval"
Just a minor thing...
https://github.com/jasonlvhit/gocron/blob/6771d4b492ba2d5f57919c04b4cddb3735365120/gocron.go#L72

BTW thanks for sharing the code!

[2019-03-05 17:43] vi7Ch opened #68 "possibility to perform a schedule from HH:MM till HH:MM ?"
Hi,

Do you know whether it would be possible to include a from HH:MM till HH:MM feature ?
Let's say I want to schedule a task every 5MIN from Monday to Friday, from 8:00 till 18:30.

That would be a good feature if it is currently not possible.

Any idea ?

Thanks,

[2019-03-25 14:29] kaiiak commented on #67
Can you talk more?

[2019-03-25 14:42] kaiiak commented on #66
Can you contribute the code?

[2019-03-25 14:45] kaiiak commented on #55
OK, I will fix this bug

[2019-03-27 11:04] #22 closed

[2019-03-27 11:19] #27 closed

[2019-03-28 02:58] kaiiak commented on #59
same issue [#47](https://github.com/jasonlvhit/gocron/issues/47)

[2019-04-01 12:22] agilob commented on #44
and I'm here again...

[2019-04-01 12:47] kaiiak commented on #44
i will fix this bug

[2019-04-01 22:35] villajo opened #69 "Multithreaded Cron"
Note: This is something that I've already forked code and am looking at the possibility of implementing.

What I've noticed is that the cron does not run multi threaded. They each run linearly. EG:

I have a two queries to a DB. Both should be set at the same time. But, from what I can tell, query 1 runs first, query 2 runs a short time after. Not really what I'm wanting in a scheduler.

Ideally:

[2019-04-08 22:42] elvarb commented on #69
stumbled on this repo, so I havent tried this, but try just adding go in front of calling the gocron function

[2019-04-27 12:23] ngethe commented on #66
@carmel what do you want to do?
I think you can use

gocron.Every(1).Day().At("10:30").Do(task)

where 10:30 is h:m time you want to run the task

[2019-04-27 12:26] ngethe commented on #68
I think you can do
gocron.Every(1).Day().At("8:00").Do(task_start)
to start the task

gocron.Every(1).Day().At("18:30").Do(task_stop)
to stop the task

[2019-04-27 12:36] ngethe commented on #67
This is more of your liking between British and American English it is a word :) http://freefactfinder.com/definition/Intervel.html

[2019-04-28 08:23] carmel commented on #66
sorry for the late reply，
Not every day， just one day，thank you！

[2019-04-30 02:03] iammen commented on #69
Hi, I have created fork https://github.com/iammen/gocron from https://github.com/marcsantiago/gocron because of this issue and need something more but I've not yet submitted a pull request to this repo because need more test. I holp it can help you.

[2019-05-05 14:55] #55 closed

[2019-05-05 15:25] #23 closed

[2019-05-06 03:26] lelong03 opened #70 "[Question] Time zone when using At()"
Thank you for sharing your code.
`gocron.Every(1).Day().At("10:30").Do(task)`
Which timezone will be used in `At("HH:MM")`?

[2019-05-06 06:16] #70 closed

[2019-05-08 05:31] ariefannur commented on #50
i have same problem

[2019-05-08 05:36] ariefannur commented on #50
could you mind to give sample implementation about it?

[2019-05-08 06:08] seta-davenguyen commented on #50
Please refer my sample at https://github.com/huyntsgs/exercise/blob/master/main.go#L215 and https://github.com/huyntsgs/exercise/blob/master/main.go#L63

[2019-05-08 06:09] huyntsgs commented on #50
Please refer my sample at https://github.com/huyntsgs/exercise/blob/master/main.go#L215 and https://github.com/huyntsgs/exercise/blob/master/main.go#L63

[2019-05-08 06:26] ariefannur commented on #50
how about every (time) get data from db and send broadcast notif with gcm. @huyntsgs

[2019-05-08 20:29] Streppel commented on #53
This issue could be closed at this moment, right?

[2019-05-08 20:43] Streppel opened #71 "Changing the Every(1).[second, minute, etc] interface"
I was thinking about changing the single time frames interface.

So basically, it would be removing the single time frame `s.Every(1).Second().do(...)` (et al) methods, and adding a new interface like `s.EverySecond().do(...)` for single seconds, and other unit time frames. Or maybe `s.EverySecondDo(...)`.

My motivation is that informing informing a time unit for a mandatory time window seems qui

[2019-05-20 13:30] arushijn commented on #53
+1

When is this fix getting merged?

[2019-05-20 13:36] Streppel commented on #53
The merge now has conflicts with master. I'll take a look into it later and see what I can do about it.

[2019-05-30 02:37] #69 closed

[2019-06-03 00:09] Streppel commented on #53
I can proudly say that this has been finally been merged! :) Many thanks to @gljubojevic for taking the time to contribute to the project.

[2019-06-03 00:09] #53 closed

[2019-06-03 09:51] Minitosh commented on #47
I'v the same issue but with more tasks in the function. And i think (but not sure) that the schedule start to count 1 second when the previous task ENDS ! And in my case, the function processes files of variable size so the interval is often distorted.

[2019-06-19 08:58] codingsett commented on #71
personally i think `s.Every(1).Second().do(...)` is more modular and a user doesn't have to use different code for single time frame and different code for other timeframes

[2019-06-20 12:05] Streppel commented on #71
@codingsett those are good points. I'll be closing this issue as I've changed my mind since its opening. It's not much of an issue to keep the API as it is. Thanks for your feedback!

[2019-06-20 12:05] #71 closed

[2019-06-22 17:08] aj3423 opened #72 "Interval doesn't work correctly"
I try to run a task every **3** seconds, but it still runs **every** second:

	func Hello() {
		fmt.Printf("hello %d\n", time.Now().Unix())
	}

	func main() {
		gocron.Every(3).Seconds().Do(Hello)
		<-gocron.Start()
	}

The result is:

	hello 1561223112
	hello 1561223113
	hello 1561223114
	hello 1561223115
	hello 1561223116
	hello 1561223117
	hello 1561223118

[2019-06-27 12:50] lilpp commented on #72
Same problem here, but it is working with older 5bcdd9fcfa9b commit.

[2019-06-27 15:58] denouche commented on #16
Does https://github.com/jasonlvhit/gocron/pull/57 could resolve this issue ?

[2019-06-27 16:25] skrynauw commented on #16
Yes #57 solves it, I had the same issue

[2019-07-05 12:48] bstock92 commented on #72
Yes, the current master branch is broken for my use case and 5bcdd9f seems to work more closely to the desired behaviour.

[2019-07-09 05:20] whutwxn commented on #59
same issue

[2019-07-17 00:48] #47 closed

[2019-07-17 06:33] jaisonz commented on #72
The interval is always one second whatever the interval value you add.

[2019-07-17 10:27] Streppel commented on #72
That's odd. Running on the main branch the behavior I get when trying @aj3423 example's is what I expected:

[code]

Maybe this last commit fixed it?

[2019-07-17 10:46] Streppel commented on #72
The fix has been merged.

[2019-07-17 14:55] aj3423 commented on #72
@Streppel I tried update the library and run the code again, the problem still exists, it still delays 1 second instead of 3 seconds.

[2019-07-17 16:29] Streppel commented on #72
@aj3423 oh, we may be missing something. Did you ran the main branch? I cannot reproduce this now after the merge
![Peek 2019-07-17 13-27](https://user-images.githubusercontent.com/2300328/61393208-da261380-a896-11e9-9750-462ed072dd0e.gif)

[2019-07-17 16:42] aj3423 commented on #72
@Streppel Yes I tried with the master branch. I can see the commit from git history.  My environment is:  go version go1.11.5 windows/amd64
![image](https://user-images.githubusercontent.com/4710875/61393984-be515a80-a8f4-11e9-99e2-b256197352a8.png)

[2019-07-17 16:56] Streppel commented on #72
@aj3423 thank you for the details. I'll try to investigate any further and try to reproduce the problem. Any thoughts on this, anyone?

[2019-07-18 01:40] seon1-kim opened #77 "Can I schedule a task to repeat only on weekdays?"
[code]

Above code does not work.
I want schedule jobs on weekday. except weekend.

Monday, Tuesday, ... It seems very inefficient to write every single day of the week code.

[2019-07-18 04:21] Streppel commented on #77
Function `Weekday()` expects a `time.Weekday` parameter, which is an integer representing the day of the week (Sunday = 0, Monday = 1, etc). The snippet you pasted here will run func every Monday (value 1). Maybe what you want is the function `Day()`? You could treat inside you function to return in case of weekends.

[2019-07-18 06:30] seon1-kim commented on #77
I want to do repeated tasks only on weekdays.
The example code is shown below. I want to combine this into one.
[code]

[2019-07-18 12:49] Streppel commented on #77
Ok. I believe you could do something along these lines?

gocron.Every(1).Day().At(lunch).Do(func() {
	if time.Now().Weekday().String() == "Saturday" || time.Now().Weekday().String() == "Sunday" {
		return
	}
	sendSomething()
})

[2019-07-19 02:19] seon1-kim commented on #77
It was not what I intended, but it was resolved. Thank you.

[2019-07-19 02:19] #77 closed

[2019-07-19 02:35] Streppel commented on #77
I’ll see what can be done in the future for your use case and see if we can implement it. PRs are welcome too :)

[2019-07-19 09:25] fxk2006 opened #78 "func (s *Scheduler) getRunnableJobs() bug?"
func (s *Scheduler) getRunnableJobs() (running_jobs [MAXJOBNUM]*Job, n int) {
	runnableJobs := [MAXJOBNUM]*Job{}
	n = 0
	sort.Sort(s)
	for i := 0; i < s.size; i++ {
		if s.jobs[i].shouldRun() {
			runnableJobs[n] = s.jobs[i]
			n++
		}
	}
	return runnableJobs, n
}

[2019-07-19 09:56] fxk2006 opened #79 "hours,minutes,seconds does not in case?"
// scheduleNextRun Compute the instant when this job should run next
func (j *Job) scheduleNextRun() {
	now := time.Now()
	if j.lastRun == time.Unix(0, 0) {
		j.lastRun = now
	}

	switch j.unit {
	case "days":
		j.nextRun = j.roundToMidnight(j.lastRun)
		j.nextRun = j.nextRun.Add(j.atTime)
	case "weeks":
		j.nextRun = j.roundToMidnight(j.lastRun)
		dayDiff := int(j.startDay)
		dayDiff -= int(j.nex

[2019-07-19 13:09] #67 closed

[2019-07-19 17:20] #72 closed

[2019-07-19 17:23] Streppel commented on #72
@aj3423 a new fix has been merged! There was indeed a problem. Please, update your dependencies and let me know what you think! In case of still running into issues and we'll reopen this issue :)

[2019-07-19 17:23] aj3423 commented on #72
@Streppel I just tried again, now it works fine. Thanks.

[2019-07-19 17:29] Streppel commented on #72
@aj3423 awesome! Thank you for bringing it up. :)

[2019-07-19 19:17] #79 closed

[2019-07-19 19:17] Streppel commented on #79
This has been fixed. A broken commit went through. Thanks for the warning!

[2019-07-19 19:24] Streppel commented on #78
Hi @fxk2006! I'm sorry, but I didn't understand the bug here. What is happening and what was expected?

[2019-07-19 19:28] Streppel opened #81 "Lack of tests for scheduler"
Recently, a bug happened in the second/minute/hour scheduling system that could've been caught if we had it under test. This is a reminder to increase test coverage (with cohesive and _really effective_ tests) on this part of the library.

[2019-07-19 19:28] Streppel commented on #81
I'll try to take a look into it over the weekend. Any help is welcome!

[2019-07-20 04:35] Streppel commented on #59
1 - Will it memory leak?
 I don't see the reasoning behind this, maybe a use case would help here. Just running a scheduler doesn't leak memory

2 - When will it end? (i would like infinite loop til forever):
It's supposed to run until it receives a stop message, so it will run for as long as the hosting machine is still alive

3 - Is this below correct for maintenanceFunc to be ran exactly every

[2019-07-20 04:35] #59 closed

[2019-07-20 04:52] Streppel commented on #81
[Branch created for this issue](https://github.com/jasonlvhit/gocron/tree/bugfix/81)

[2019-07-20 11:45] preslavrachev opened #82 "Add a panic-safe version of Do"
Panics in Go can crash the entire app if not handled correctly. As Go developers, we try to do as much as possible to catch our errors and provide a graceful escape, but no Go app is really panic-safe. Mainly, because we often rely on 3rd party code, whose error handling we cannot guarantee until it is too late.

My proposal is to add a second method alongside `Do` (e.g. `DoSafely`), which delegat

[2019-07-20 14:46] Streppel commented on #82
Cool! I agree and don't like the idea of panic-ing without proper handling too. Waiting for your PR

[2019-07-20 19:41] preslavrachev commented on #82
@Streppel PR is here. Feel free to check it out

[2019-07-20 19:58] Streppel commented on #82
@preslavrachev thank you for collaborating! Already merged your changes.

[2019-07-20 19:58] #82 closed

[2019-07-20 20:57] preslavrachev commented on #82
@Streppel Thank you!

[2019-07-21 22:22] #81 closed

[2019-07-21 22:31] Streppel commented on #81
[PR for this issue ](https://github.com/jasonlvhit/gocron/pull/84)

[2019-07-24 00:07] Streppel opened #88 "Tests are deterministic"
Current implementation depends too much on using time manipulation and because of that some tests take a long time to run (testTaskAt is one example, as it depends on the system changing minute, even though I believe we could fix this by testing it differently. Another example is the recent locking implementation.).

We should find a way to end this by wrapping the system clock and thus being able

[2019-07-26 17:25] Streppel commented on #78
Closing due to inactivity

[2019-07-26 17:25] #78 closed

[2019-07-26 19:09] vgichira commented on #66
@carmel You could achieve that by doing the following
gocron.Every(1).Monday().At("10:30").Do(task)

// clear the cron job

gocron.Remove(task)
gocron.Clear()

[2019-08-09 10:56] AjithKumar-Raj opened #96 "Need a clarification"
@Streppel What is equivalent to `0 * * * *` every hour cron need to run on 00 min?

[2019-08-09 14:26] Streppel commented on #96
@AjithKumar-Raj currently, you can not do that. The best you can do to achieve something like that is to run hourly. However, this is a valid use case. I believe we will implement this soon.

[2019-08-09 14:26] #96 closed

[2019-08-11 09:30] AjithKumar-Raj commented on #96
Thanks @Streppel

[2019-08-20 06:10] dulumao opened #98 "DoSafely log dump"
How can i dump "Internal panic occurred %s"  @preslavrachev

[2019-08-20 18:57] preslavrachev commented on #98
@dulumao could you be more concrete, please? Are you looking for a way to avoid the log statements in case of panics?

[2019-09-09 07:42] EricBatty opened #106 "Hey, how do I set the last day of the month to be executed on time?"
Hey, how do I set the last day of the month to be executed on time?

[2019-09-17 16:23] neuyilan commented on #68
LGTM, prefect!

[2019-09-17 16:24] neuyilan commented on #68
LGTM, prefect!

[2019-09-19 10:45] PriyaSharma45 commented on #106
Did you find any way to do it?

[2019-09-20 06:05] chenyihui555 opened #107 "DoSafely is not work"
When using the DoSafely function, the program keeps clogging up. Not performing a task

[2019-09-20 19:17] Streppel commented on #107
@chenyihui555 could you elaborate a bit more? @preslavrachev tagging you so you can investigate if you're interested

[2019-10-07 10:04] Streppel commented on #107
closing this due to inactivity

[2019-10-07 10:04] #107 closed

[2019-10-08 13:16] Streppel commented on #98
closing this due to inactivity

[2019-10-08 13:16] #98 closed

[2019-10-10 12:14] aj3423 opened #115 "do job when it starts."
Scheduler always runs job after the schedule delay, sometimes I want the job also be run at once when the schedule begins. Now I have to :

    DoJob()
    gocron.Every(10).Seconds().Do(DoJob)

But is it's looks better?

    gocron.Every(10).Seconds().AlsoAtOnce.Do(DoJob)

[2019-10-28 19:12] JohnRoesler opened #117 "DoSafely() doesn't actually do anything"
When running a task with `DoSafely`, it never actually performs the task.

Here is an example main.go file:

[code]

Test it out - if you swap in `Do` for `DoSafely` it works as expected, outputs to the terminal and writes the file. With `DoSafely` nothing happens.

[2019-10-28 19:16] JohnRoesler commented on #107
@chenyihui555 i opened a new issue with more details as I am experiencing the same issue https://github.com/jasonlvhit/gocron/issues/117

[2019-10-28 19:27] Streppel commented on #117
@preslavrachev would you have the time to take a look into it? if not please let me know

[2019-10-28 21:02] preslavrachev commented on #117
@JohnRoesler @Streppel hey, guys, I'll have some free time by the end of the week. I promise to have a look.

[2019-10-28 21:03] preslavrachev commented on #117
@Streppel feel free to assign it to me.

[2019-10-29 02:25] JohnRoesler commented on #117
If there is anything additional I can provide - let me know! Thanks for taking action so quickly.

[2019-10-29 17:23] nigellima opened #118 "Is it possible to run a cron task concurrently with a server?"
Hi,

is it possible to run a cron task at the same time I have a running server of my API? I would like to set a task and still have my server running. Or should I have a different project that performs these tasks?

Thanks in advance

[2019-10-31 12:57] JohnRoesler commented on #106
It doesn't look like there is a way to do that currently. Seems like a feature would need to be added. Perhaps a `Monthly()` option that allows for things like `FirstDay()`, `LastDay()`, `DayOfMonth(15)`.

[2019-11-01 07:28] JokerDevops commented on #106
Yes, currently he needs FirstDay(), LastDay(), DayOfMonth(15)

[2019-11-01 17:39] preslavrachev commented on #117
I have had a brief look on the issue, in order to see, whether I can replicate it. I can. The funny thing is that the `DoSafely` function does not do anything more than set a deferred recovery, but otherwise, it should delegate straight to `Do`. As the underlying `func` I provide does not get executed at all, I am starting to believe that it has to do with some copying of value, where a pointer sh

[2019-11-01 17:57] Streppel commented on #117
@preslavrachev no specific reason indeed. Which version are you currently using?

[2019-11-01 19:13] JohnRoesler commented on #117
If I run a test just for the purpose of debugging, it generates a panic
[code]

[code]

[2019-11-01 22:29] preslavrachev commented on #117
@Streppel i have created a PR with the fix, and some minor improvements. Please, check it out and make sure to run the tests locally. Please, also keep in mind that three tests failed on my machine even when running them out of `master`:

- `TestDaily`
- `TestWeekdayAferToday`
- `TestWeekdayAt`

Those should not have been caused by my changes. I suggest however that we open up a new issue, where w

[2019-11-02 20:11] Streppel commented on #117
@preslavrachev thank you! Yea, indeed the tests could use some revision... I'll take a look at this as soon as I get some time, thanks for the warning. I'll be creating the issues :)

[2019-11-02 20:13] Streppel opened #121 "Failing tests"
As reported by @preslavrachev on https://github.com/jasonlvhit/gocron/issues/117#issuecomment-548971950, the tests

- TestDaily
- TestWeekdayAferToday
- TestWeekdayAt

appear to be failing at master branch. To be investigated and fixed.

[2019-11-02 20:16] Streppel opened #122 "Set up CI for this project"
We should set up a continuous integration system in this repository in order to prevent breaks on tests going live :)

maybe we could use GitHub Actions for that?

[2019-11-03 12:44] #117 closed

[2019-11-03 17:53] Streppel commented on #121
Unfortunately I could not reproduce locally under the master branch

<img width="727" alt="image" src="https://user-images.githubusercontent.com/2300328/68089629-99eca000-fe49-11e9-84df-d66abfcc01aa.png">

[2019-11-03 17:53] #121 closed

[2019-11-03 21:41] preslavrachev commented on #121
As of today's run, me neither. But those were apparent a few days back, which is an indication that we still need to keep an eye. @Streppel please, open up a ticket for setting up a Travis CI test automation. You can assign that to me. I have quite a bit of CI experience, so I could definitely help there.

I will be quite busy the next couple of days, but I can get it set up by the end of the week

[2019-11-04 01:28] Streppel commented on #121
@preslavrachev that's amazing! And yes, this kind of failures tend occur on edge cases like end of months etc because our tests are deterministic, but [there is an issue open for that](https://github.com/jasonlvhit/gocron/issues/88) so we will take care of that soon. While you do that, I'll work on the conflicts of merging [this PR](https://github.com/jasonlvhit/gocron/pull/60) which is a game cha

[2019-11-04 01:29] Streppel commented on #122
@preslavrachev

[2019-11-05 23:21] #115 closed

[2019-11-06 00:17] JohnRoesler opened #123 "Consider using GitHub releases so that pinning versions is easier"
Right now, in order to pin to a specific version of gocron - I have to know the commit and commit date/time I want to point on master.

If we use github releases - then pulling with go mod allows to set the version pin. For example:

[code]

[2019-11-06 00:21] JohnRoesler commented on #122
I just did this on another repo - PR incoming

[2019-11-06 00:27] JohnRoesler commented on #123
@preslavrachev @Streppel

[2019-11-06 00:36] JohnRoesler commented on #19
I am seeing this same issue. Job runs for sometimes one hour, sometimes four hours, then stops. No errors, app doesn't restart, but job just seems to stop running.

@preslavrachev @Streppel

[2019-11-06 00:39] #122 closed

[2019-11-06 00:47] Streppel commented on #19
@JohnRoesler strange... I have a job running for weeks with no problem. I'll investigate

[2019-11-06 01:03] JohnRoesler commented on #19
I've been debugging on my end as well. It's running in docker. Tried increasing mem/cpu, still seeing it stop.

[2019-11-06 01:27] Streppel commented on #123
Completely agree. I'll be creating a version 0.5 as a pre-release as we still need to merge a really important PR that adds production safety (but currently has some code conflicts) and work on some code and tests to fix problems like #19 and #50 in order to consider this package to be production ready. What do you think?

[2019-11-06 04:30] JohnRoesler commented on #123
Yes i think that makes sense. A big thing I'd like to see is a way to have errors passed back out (channel maybe) so that I could decide how to handle different errors that may occur during my cron's run.

[2019-11-06 16:08] JohnRoesler commented on #19
It's not that the job is actually stopping my case. There are no errors, it just takes long breaks on job that's scheduled to run every 5 minutes.

Here is a screen shot of logs over a 12 hour period:
![image](https://user-images.githubusercontent.com/19351306/68315339-3ba80300-007d-11ea-94b6-14eb3ca9e578.png)

Pretty sure it's not a resource issue as the docker container running the cron as an ex

[2019-11-11 22:38] Streppel commented on #123
And from now on we have our pre-release version 0.1!

https://github.com/jasonlvhit/gocron/releases/tag/0.1

[2019-11-11 22:38] #123 closed

[2019-11-15 17:22] JohnRoesler commented on #88
Regarding handling time - we could make an interface and use that and then mock it when we test

[code]

[2019-11-15 19:15] Streppel commented on #88
Absolutely John, we will need to wrap our clock and using an interface for this is the way to go.

Currently, we use ```Unix()``` time to measure time difference instead of ```.After()``` and ```.Before()``` functions because these last two count differences up to nanoseconds, which used to cause bugs on crons that ran every second. Using Unix time, we only work with seconds. I think that if we st

[2019-12-02 15:09] prassag opened #129 "Looping by mistake over all jobs array (instead of all actual jobs)"
`func Scheduled(j interface{}) bool` will crash when the answer if false
The function loops over all defaultScheduler.jobs which may (and probably will be) at least partially nil (if not all MAXJOBNUM are used).
Every loop over this array must be using the index and run up to size.

This is true also for `func (s *Scheduler) Scheduled(j interface{}) bool`

[2019-12-02 15:12] prassag opened #130 "function func Scheduled(j interface{}) bool code is duplicated"
should be:
`// Scheduled checks if specific job j was already added`
`func Scheduled(j interface{}) bool {`
`    defaultScheduler.Scheduled(j)`
`}`

[2019-12-02 15:16] prassag opened #131 "Scheduled func will return false when a DoSafely function is used"
The DoSafely function hides the function name (jobFun) so the function written to the job is always the wrapper recoveryWrapperFunc.

[2019-12-04 07:19] wishdev commented on #106
I'm not certain this is the purview of gocron.

For example, I've needed to create a report on the 12th of each month - EXCEPT if the 12th was on the weekend and then it was either the 11th if the 12th was a Saturday or the 13th if the 12th was a Sunday. That would be an _interesting_ set of options to describe in a single line of gocron scheduling.

So, maybe something like this for the question

[2019-12-06 13:18] Streppel commented on #131
Thank you for taking the time to let us know @prassag! I believe we might consider stripping out the DoSafely function altogether in the near future and stop bubbling panics from inside the code instead. Correct error handling is coming up in a new branch that will be merged as soon as we finish conflicts

[2019-12-10 19:09] JohnRoesler commented on #106
I like your solution @wishdev! Seems very reasonable to handle outside of gocron as to your point - the options could be highly involved getting exactly the right cron schedule unless it was a simple, I want this date of the month always, or the first day or last day.

[2019-12-11 03:19] iambudi commented on #68
How to run it Every 5 Minutes? It only run once at 8:00?

[2019-12-11 19:07] JohnRoesler commented on #68
Expanding on the example - this works:

[code]

[2019-12-12 22:50] iambudi commented on #68
@JohnRoesler Perfect! thanks.

[2019-12-13 10:39] akdilsiz opened #134 "Implement custom logger"
I think we should make it compatible with the custom logger modules created in the applications. In this way, job status can be monitored in autonomous state. I can write directly, if that's okay.

[2019-12-13 11:00] akdilsiz commented on #134
We can assign identifiers and name when creating a job. For ease of tracking. What do your think about it?

[2019-12-13 12:32] Streppel commented on #134
Hi @akdilsiz! Interesting idea... How do you think the implementation would work? Could you give some examples of the usage?

[2019-12-13 13:48] akdilsiz commented on #134
Hi @Streppel,

When the new job is added, if the custom logger is defined, I give an example; The callback function CustomLogger.Info ("Added new job") can be called. Or it can be called CustomLogger.Info ("Job done") when the job is finished or stopped. Of course, we need to define a custom logger interface.

[code]
Considering that we created a special interface in this way. We can ask the devel

[2019-12-15 09:12] carmel commented on #66
sorry for late reply,  I just use the time.Ticker instead，because of the simple application scenarios

[2019-12-16 01:01] Streppel commented on #134
@akdilsiz thank you for writing your suggestion! It's a very good idea indeed. I will not implement it right away because we are in the middle of a big merge and some things in the code base might change soon, but as soon as things settle down I will take a look into it. If you want to, you could also develop it and we could review and merge it later. Anyways, this will be scheduled for the 1.0 mi

[2019-12-16 07:26] akdilsiz commented on #134
@Streppel okay, I will start developing this feature. Happy codings :)

[2019-12-18 23:23] bir opened #135 ""Sleep until next run time if we wake up too early" breaks RunAll"
This commit:
https://github.com/jasonlvhit/gocron/commit/9b1e2c8fb35cdd55baca0360076805108921dcd0

Causes RunAll commands to hang until next run time, which defeats the purpose of RunAll.
// RunAll run all jobs regardless if they are scheduled to run or not

 I have a job that is run at startup and then once per hour afterward.  This commit causes it to sleep for a painfully long time.  Not sure w

[2019-12-23 10:47] kamko commented on #135
Yes, just hit the same issue.

[2019-12-23 18:17] bir commented on #135
@kamko I fixed by setting the go.mod require line to the previous version:

    github.com/jasonlvhit/gocron v0.0.0-20191125235832-30e323a962ed

[2019-12-24 20:59] kamko commented on #135
thanks, altough as i had only one job i simply ran it explicitly.

[2019-12-28 16:26] Streppel commented on #135
@bir this is the PR for the commit https://github.com/jasonlvhit/gocron/pull/133. I didn't know about these issues so I'll be reverting these changes. Thanks for shouting out!

[2019-12-28 16:26] #135 closed

[2019-12-31 07:48] piotrkochan commented on #49
Bump, anyone? Is is almost a Year now. I have similar issues.

[2019-12-31 07:57] piotrkochan opened #140 "Is this package maintained?"
The is a lot of old Issues, `s.Every(1).Weekday(time.Monday)` does not work

[2020-01-02 10:46] preslavrachev commented on #131
Sad to see the `DoSafely` function causing so many issues. I might try to revise it an come up with a quick fix over the weekend.

@Streppel I am not sure that preventing panics in 100% of the cases (if I understood you correctly) is the safest solution. There may be many situations, in which a run-time panic may cause the application to continue in a broken state. In such situations, a clean app

[2020-01-03 00:52] Streppel commented on #131
@preslavrachev absolutely Preslav! I'm not saying we will stop preventing panics, what I meant is that we will stop propagating panics deliberately from within the code, so we can keep the panic detection and handling inside the bare `Do` function instead of another one (say `DoSafely`). I mean, that's the main reason why `DoSafely` was implemented as another function, right? As there were panics

[2020-01-03 00:56] Streppel commented on #140
It is, @piotrkochan. It was not very crowded as as of few months ago, but a few folks (myself include) got together to invest their own time on cleaning old issues. I didn't know of this weekday issue, I'll try to take a look into it this weekend. You are more than welcome to collaborate, too! Just send in a pull request (backed with tests) so we can review it and merge it!

[2020-01-03 00:56] #140 closed

[2020-01-14 02:14] iambudi commented on #49
Same thing happen, gocron suddenly does not trigger at certain hour.
gocron.Every(1).Day().At("22:00").Do(something, config)
gocron.Every(1).Day().At("14:00").Do(somethingElse, config)

It works only at 14:00 but 22:00 no run at all. Is it a bug or has to do with machine time setting?

[2020-01-17 14:24] iambudi commented on #49
Solved, after debugging it's in my fault. My Apologize for this.

[2020-02-14 05:53] hangpark opened #142 "Small size job executed twice occasionally"
## Description

Sometimes a small size job (i.e. a job with very short execution time) is executed twice in sequential ticks.

## Reproducing Steps

1. Go to https://github.com/jasonlvhit/gocron/blob/98b59b546dee5e226421a00e3cfcb6223bdc839e/gocron_test.go#L36
2. Increase `numberOfIterations` like 20 (10x times)
3. Run `TestSeconds()`
4. Below is my failure logs:
<details><summary>Failure Logs</sum

[2020-02-22 13:56] Streppel commented on #142
Amazing description, thank you for taking the time to write this! The ```.Unix()``` approach was chosen because of the nanoseconds issue indeed as you pointed here. We need to review our scheduling logic indeed. Will take a look into it, as well as hope someone else take a look into this too (the more eyes the better)

[2020-02-24 06:59] Iampato opened #143 "One cron job that run multiple functions"
that would the great

[2020-02-24 06:59] #143 closed

[2020-03-15 16:24] LipingMao commented on #142
I get the same issue with the sample code in README.md .

I think maybe we can delete the check:
[code]

Any reason to check this when we scheduleNextRun?

[2020-03-16 03:36] huangzulin opened #144 "At schedules job at specific time with second"
now,it is only work on HH:mm I want HH:mm:ss
s.Every(1).Day().At("10:30").Do(task)
-->
s.Every(1).Day().At("10:30:59").Do(task)

[2020-03-16 16:23] #144 closed

[2020-03-16 16:44] JohnRoesler commented on #144
This is in master now. Let us know if you have any issues with it!

[2020-03-19 01:05] JohnRoesler opened #148 "Consider the location implementation"
I'm not sure we need the global `loc` var as the scheduler itself stores location and the scheduler runs jobs.

Is there a need to have jobs have a separate location? Would someone ever run a scheduler in say UTC and then want to trigger a job at say 10:00AM UTC +2?

To solve this you could create multiple schedulers for the different time zones.

[2020-03-19 22:47] Streppel commented on #148
I agree... We should consider timezones by schedulers only. Time no clean up this codebase :) I'm preparing another PR soon

[2020-03-21 03:31] #148 closed

[2020-03-29 12:19] lijinghuatongxue opened #153 "Expressing doubts"
<img width="925" alt="图片" src="https://user-images.githubusercontent.com/17118790/77848923-942d9780-71fa-11ea-90cf-72826dfc70d9.png">

[2020-04-06 00:34] avasani commented on #142
Do we know the fix for this issue?

[2020-04-06 12:16] allanpaiste commented on #153
+1 to this, just discovered the same thing :(

[2020-04-10 16:43] Streppel commented on #142
@avasani have you tried deleting the code to see if it fixes it as well? We are working on a fix on our fork https://github.com/go-co-op/gocron/pull/23 that will be applied here as well when we finish it, since this is critical. We are testing the removal of the code.

[2020-04-13 08:41] wibin86 commented on #153
+1, I had the same error when use the new version

[2020-04-16 08:04] mlanin opened #154 "Every second Thursday"
I need a task to be fired every second Thursday. I tried to do like this:
`gocron.Every(2).Thursday().At("08:00").Do(taskHandler)` but got panic `interval must be 1`.

Is it even possible to do what I need?

[2020-04-17 15:50] Streppel commented on #154
This is currently not possible, unfortunately, but that's a nice catch. We'll implement it. I'll open an issue for this on https://github.com/go-co-op/gocron

[2020-04-17 15:50] #154 closed

[2020-04-23 10:22] pycckuu commented on #53
For me, the fix did not work. I have a task that should be repeated every hour, but sometimes it just starts and runs endlessly.

[2020-04-23 14:15] #142 closed

[2020-04-23 14:17] Streppel commented on #53
@pycckuu we've corrected this is [our fork](https://github.com/go-co-op/gocron) but I've just applied it in here as well, thanks for pointing it out!

[2020-05-20 23:07] agparadiso commented on #153
+1 just found out the same, I though I was doing something wrong, thanks for reporting 💪

[2020-05-26 16:28] AlvinKuruvilla commented on #38
Can you give a description of what you would like to see in this feature... what do you think should be able to be updated

[2020-05-29 18:35] JohnRoesler commented on #153
Come checkout https://github.com/go-co-op/gocron - we forked and are maintaining / enhancing!

[2020-06-11 10:52] maxotov commented on #18
Hello everybody! thid feature implemented? can i use it?

[2020-06-23 03:55] paveldanilin commented on #27
@kaiiak Hi!
I am sorry for raising that question again, but how to create a monthly scheduled job?
I tried to use the approach from the README and schedule the job at a specific date/time

`// Begin job at a specific date/time
	t := time.Date(2020, time.November, 10, 15, 0, 0, 0, time.Local)
	gocron.Every(1).Hour().From(&t).Do(task)`

But the job is being executed every hour, instead of singular r

[2020-06-28 08:14] MahdiRazaqi opened #157 "The cron does not run if the function has a argument."
example:

[code]
The cron does not work, why??? :/
Help me, plz.

[2020-07-05 05:51] #157 closed

[2020-07-23 05:30] g-graziano opened #160 "Lock function, still run multiple times on multiple server instances"
i used lock implementation on redis, but it still run cron multiple times on multiple instances, i have 4 instances and it still run 4 times

`
locker := p.schedulerLockerRepo
gocron.SetLocker(locker)
go p.paymentDailyReminderWorker()

func paymentDailyReminderWorker() {
	reminderScheduler := gocron.NewScheduler()
	if err := reminderScheduler.Every(1).Day().At(c.config.DailyReminderClock).Lock().D

[2020-07-23 06:36] arjunmahishi commented on #160
Hey @g-graziano, This project is now being maintained in [this repo](https://github.com/go-co-op/gocron). You might want to check that out and see if this issue is still occurring. If it is, we can track this issue there.

[2020-07-30 13:30] scythefly opened #161 "getRunnableJobs runnableJobs is not needed"
[code]

if  I make many schedulers with a few jobs in every single s  , alloc array with MAXJOBNUM is a waste.

[code]

[2020-07-30 19:32] arjunmahishi commented on #161
Hey @scythefly, that's a valid point. But this repo is now stale. We have moved the development of this project to a [new repo](https://github.com/go-co-op/gocron). There we have [fixed this](https://github.com/go-co-op/gocron/blob/25952fd63f85ccebffad02af43df88621a0982b8/scheduler.go#L126) and a few other bugs. We have also added a couple of new features. You can perhaps [check it out](https://gi

[2020-07-31 01:01] scythefly commented on #161
oh oh, thanks a lot!

[2020-07-31 01:01] #161 closed

[2020-08-01 14:04] KateGo520 opened #162 "Proposal: Please start using Semantic Versioning"
I found that this project already [supports Go modules](https://github.com/jasonlvhit/gocron/blob/master/go.mod). But sadly, the [tags](https://github.com/jasonlvhit/gocron/tags) doesn't follow [Semantic Versioning](https://semver.org), which means that all tags of this project will be ignored by Go modules and replaced by pseudo-versions, go get acts weirdly when tags are not in that form. It wou

[2020-08-01 14:05] KateGo520 commented on #162
@Streppel  @Arjunmahishi  Could you help me review this issue? Thx :p

[2020-08-01 15:07] Streppel commented on #162
Hi @KateGo520! Absolutely, we can fix this here. Be aware, though, that we migrated to a new repo linked in the readme and we are working collectively over there, be sure to check it out!

[2020-08-02 17:33] Streppel commented on #162
Updated semver :-)

[2020-08-02 17:33] #162 closed

[2020-08-04 01:07] KateGo520 commented on #162
@Streppel  OK, I see the new link. Thank you!

[2020-08-19 07:24] #66 closed

[2020-08-27 04:09] lixin1234qqq opened #163 "Duplicate function call in Every WeekDay"
This is my test code:

[code]
start cmd `nohup /your/path/to/main &`

I hope test function will be called once at 11 am Wednesday.
However,  the log shows it was called five times. = =！
[code]

Is there something wrong？

[2020-08-28 03:51] lixin1234qqq commented on #163
After updating to the latest version, everything is ok.

[2020-08-28 03:51] #163 closed

[2020-10-26 15:40] KnBrBz opened #164 "Is Day working properly?"
Wrote a simple code
[code]

Expecting that if porgram started at 17:38, at 17:40 and 17;41 the message will appear. But nothing happens. What I am doing wrong?

[2020-10-26 15:45] #164 closed

[2020-11-19 17:01] JohnRoesler commented on #131
@preslavrachev and others, come checkout the fork we're maintaining https://github.com/go-co-op/gocron

[2020-12-03 13:37] darlandieterich opened #165 "Async Scheduler"
Every 3 seconds call function process but sometimes has delay to response, accumulating the time..

How call async function every 3 seconds?

[code]

[2021-01-06 02:33] JohnRoesler commented on #165
Come over to https://github.com/go-co-op/gocron - we, the maintainers forked as Jason has been unreachable for many months. Check and see if you still have the issue

[2021-01-12 12:37] darlandieterich commented on #165
all right! moving the issue. thanks!!

[2021-01-28 09:11] antonprokopovich commented on #18
@danhardman Would you mind sharing the code if you still have it? It would help me a great deal

[2021-03-14 03:18] 003random commented on #106
Nice solution @wishdev. Was also looking for something similar and this does the job. Good enough for me 👍

[2021-03-14 04:18] JohnRoesler commented on #106
@003random come check out our active fork https://github.com/go-co-op/gocron we’ve added support for Monthly schedules 👍

[2021-03-14 04:19] 003random commented on #106
Oh awesome! Thanks @JohnRoesler

[2021-03-20 22:02] #56 closed

[2021-03-23 14:30] antoniocapizzi95 opened #166 "Schedule task every X hours from a date in the past"
Hello, I'm using this method to schedule a task:

[code]

My aim is to schedule a task every 3 hours from midnight, but it seems that at startup it starts counting from the script execution time. My code is the below:
[code]
For example if I run this code at 2:00 AM, I'd like that task starts at 3:00 AM, not at 5:00 AM.
Is there a method to do this?
Thanks.

[2021-03-26 18:27] JohnRoesler commented on #166
@antoniocapizzi95 hey, this repo is no longer maintained (per the note in the readme) - we have a maintained fork over at https://github.com/go-co-op/gocron and recently added support for this exact use! https://github.com/go-co-op/gocron/issues/106

[2021-03-29 14:08] antoniocapizzi95 commented on #166
@JohnRoesler thank you very much, I will try this fork.

[2021-03-29 14:08] #166 closed

[2021-04-01 03:35] truztee commented on #19
Hi, currently I have this issue..

I have a simple job to run every  5s. But the job seems suddenly stop after a random amount of time

I run the service using systemd. With this configuration:

[code]

for now, I add auto restart every hour in the systemd configuration.
PS, the CPU and memory load seems OK

[2021-04-01 03:42] JohnRoesler commented on #19
@truztee this repo is no longer maintained sadly. Come checkout our fork that is very well maintained and updated! https://github.com/go-co-op/gocron

[2021-04-01 03:48] truztee commented on #19
ic... thank you for the information

[2021-04-23 09:57] zak905 commented on #41
This is a great idea, I am wondering if there were any attempts to implement ?

[2021-04-23 19:44] JohnRoesler commented on #41
Hi @zak905! As the readme notes, this repo is no longer being maintained. We have an active fork over at https://github.com/go-co-op/gocron where we now support crontab expressions!

[2021-04-24 16:32] zak905 commented on #41
interesting, thanks for the info

[2021-05-03 20:52] ericlentz commented on #18
Run once:

`_, _ = s.Every(1).Millisecond().LimitRunsTo(1).Do(task)`

If you inspect the scheduler after this executes the task is no longer present in the scheduler.

[2021-06-03 07:07] rtywei commented on #160
This problem does exist, and the result of lock acquisition is not judged in the implementation.

func (j *Job) run() ([]reflect.Value, error) {
	if j.lock {
		if locker == nil {
			return nil, fmt.Errorf("trying to lock %s with nil locker", j.jobFunc)
		}
		key := getFunctionKey(j.jobFunc)

		**locker.Lock(key)**// This result is not judged
		defer locker.Unlock(key)
	}
	result, err := callJobFun

[2021-06-03 15:41] JohnRoesler commented on #160
hi @rtywei as @arjunmahishi mentioned - this repo is no longer maintained. We are maintaining it over at https://github.com/go-co-op/gocron but we have since removed the locker mechanism as it was not working and we have yet to come up with a good implementation.

[2021-06-09 10:35] Soberabsurd opened #169 "exec time"
I want set last day of every month to exec command.
I use "0 0 8 28-31 * * " ,but not what I wanted
Would you please tell me what I should do?

[2021-06-09 14:10] JohnRoesler commented on #169
Hi @Soberabsurd this repo is no longer maintained. We have an actively maintained fork over at https://github.com/go-co-op/gocron. Take a look over there. I don't think we support last day of the month at this point, but you could open a feature request issue there!

[2021-06-11 07:42] rtywei opened #170 "About task execution time"
My task is set to execute time, but it does not take effect。
I want to execute once every minute, at 00 seconds 。So I used this method。  At。But the exection is 56 seconds。

For example,
gocron.Every(1).Minute().At("00:00:00").Do(db.task)
but run time is I0611 15:40:55.602110
![image](https://user-images.githubusercontent.com/28942808/121649416-2140d180-cacb-11eb-80d3-f7553096be8b.png)

[2021-06-21 15:30] JohnRoesler commented on #170
Hi @rtywei - this repo is no longer maintained. Take a look at our active fork over at https://github.com/go-co-op/gocron

The `At()` method doesn't work with minutes. However, you could use `StartAt()` to get your task to start at the next minute using time and rounding.

[2021-08-25 05:38] meteoricfarm opened #172 "How to make stop Scheduler?"
Dear Contributors,

I've tested gocron to understand its behavior.
I've got obtained a result that I cannot understand.
I reckon that "gocron" Scheduler will be stopped if I assign a value to the channel that obtained from Start() function's return value.
But, jobs still running even if "Scheduler Finished" is executed.

What do I have to do to stop the Scheduler?
[code]

----------------------- R

[2021-08-25 10:46] sathya0803 commented on #23
`func hi() {
	fmt.Println("hi")
}
func main() {
	gocron.Every(5).Minute().Do(hi)
}`
I tried running this after importing. But my program is not giving any output. I expected it would run for every 5 mins

[2021-08-25 13:59] JohnRoesler commented on #23
@sathya0803 this repo isn’t maintained anymore. Please checkout https://GitHub.com/go-co-op/gocron which is an active fork

[2021-08-25 13:59] JohnRoesler commented on #172
@sathya0803 this repo isn’t maintained anymore. Please checkout https://GitHub.com/go-co-op/gocron which is an active fork

[2021-09-30 08:50] biningo opened #173 "Use slice instead of array"
I think  you should use slice instead of array

[2021-09-30 14:53] JohnRoesler commented on #173
@biningo this repo is no longer maintained. Come checkout https://github.com/go-co-op/gocron which we're actively maintaining. It already has this change made. And many enhancements!

[2021-11-29 12:32] Tigraine opened #174 ".Do overrides existing cron tasks"
I ran into a really nasty issue with `StartImmediately` and `.Do()`.
Basically the following code will behave completely un-expected:

[code]

The output is:

[code]

So *until* the subsequent/unqualified `.Do()` call the scheduler will run the "normal" 15 second func, but once a `.Do` is set it replaces the existing one with the newly passed func.

The (for me) expected output should have been:
[

[2021-11-29 15:26] JohnRoesler commented on #174
Hey @Tigraine this repo is no longer maintained. We're keeping an active fork over at https://github.com/go-co-op/gocron

Feel free to open an issue over there!

I'll post something here quickly: what I am seeing is that we aren't handling this properly, but the first method that needs to be called is Every() or Cron() which instantiates the job. So in this case, StartImmediately() is being called

[2022-07-12 08:06] #16 closed

[2022-07-12 13:38] JohnRoesler commented on #16
Come checkout https://github.com/go-co-op/gocron where we have an active fork of this repo!